{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"arrowParens": "always",
	"printWidth": 120,
	"vueIndentScriptAndStyle": false,
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": false
}
